nav{
	position: fixed;
	right: 0;
	margin-right: 5%;
	top: 7em;
	height:50%;
	font-family: Montserrat;
	width: 10em;
	opacity:0.5;
	transition: opacity 0.5s;
	font-weight:bold;
}
nav:hover{opacity:1;}
nav a{
	display:block;
	text-align:right;
	color:black;
	text-decoration:none;
	position:absolute;
	top:0;
	right:0;
	transition: color 0.5s;
	padding:1em;
	margin:-1em;
}
nav:hover a.active{
	color: #00c;
}
nav a:hover, nav a.active:hover{
	color: #66f;
}
nav #nav-slider{
	height:0;
	width:2px;
	background-color: black;
	position: absolute;
	right:3px; top:13px;
	z-index:-50;
}
nav a span{
	content:"";
	display:inline-block;
	height:6px;width:6px;
	border-radius:6px;
	border:solid 1px black;
	background-color:transparent;
	transition:background-color 0.5s;
	margin-left: 6px;
}
nav a.active span{
	background-color:black;
}
.text{
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	line-height: 2em;
	margin-top:3em;
}
section{margin-bottom: 7em;}
.red{
	color:red;
}
.lightblue{
	color:#66f;
}
.darkblue{
	color:#00c;
}
#home{
	text-align:center;
	height: 100%;
	margin:0;
	padding-bottom:10em;
}
#home h1, h1 a{
	color:inherit;
	text-decoration:inherit;
}
#home h2{
	font-size: 3em;
	margin: 1em auto;
	width: 60%;
}
#home header{
	user-select: none;
}
#home header .line{
	display: inline-block;
	height: 2px;
	background-color: black;
	width: 10em;
	position: relative;
	top: -0.9em;
}
#home header .block{
	display:inline-block;
	height:2em;
	width:1em;
	background-color:black;
}
#home header #leaf{
	height: 1.6em;
	position:relative;
	top:-0.2em;
}
video#bgvid { 
	opacity:0.8;
	position:absolute;
	min-width:100%;
    min-height: 100%;
    z-index: -100;
	background-color: black;
    background-size: cover;
}
body{
	color: black;
	font-family:Montserrat;
	padding:0;
	margin:0;
	background-color: #ddd;
	overflow-x: hidden;
}
.progbar1, .progbar2{
	overflow:hidden;
	width:30%;
	display:inline-block;
	z-index: -70;
	margin-top:-1em;
}
.progbar1 img, .progbar2 img{
	height: 4em;
}
.progbar1{
	position:absolute;left:0;
	border-right: solid 3px #66f;
}
.progbar2{
	position:absolute;right:0;
	border-left: solid 3px #00c;
}
h2{font-family:'Alegreya Sans SC', cursive;transition: color 0.5s;color:black;}
section{
	padding-top:5em;
}
h2 a{color:inherit;text-decoration:none;}
.sectionheader{margin:0px;text-align:center;font-size:4em;line-height:0.5em;}
footer{color:#aaa;font-family:Montserrat;text-align:center;margin:5em 5em 5em 5em;}

/*Clubfair-style form*/
#ss-form{
	margin-top:3em;
	display:block;
	margin-left: auto; margin-right: auto;
	width:50%;
	text-align:center;
	color:white;
	font-family:Montserrat;
}
#ss-form h1{
	font-size: 2.5em;
	margin: 0.1em;
}
#ss-form h2{
	font-size: 1.5em;
	margin: 0.1em;
}
#ss-form input, form label, form button{
	font-size: 1em;
	padding:0.2em;
	margin: 0.2em;
}
#ss-form label:hover, #ss-form button:hover{
	cursor: pointer;
}
#ss-form button, .hoverbtn{
	border: solid 3px white;
	background-color: white;
	color:black;
	transition: background-color 0.5s, width 0.5s, height 0.5s;
	border-radius: 5px;
	margin-top:0.5em;
}
.hoverbtn{
	padding: 0.5em;
	font-size: 1.5em;
	margin: 0.5em;
	text-decoration: inherit;
}
.hoverbtn:hover{
	border: solid 3px white;
	background-color: black;
	color:white;
}
#ss-form input,#ss-form textarea,#ss-form button{display:block;margin-left:auto;margin-right:auto;}
#ss-form input,#ss-form textarea{color:black;width:25em;}
#ss-form textarea{height:5em;}